{
	"extends": "standard",
	"plugins": [
		"standard"
	],
	"globals": {
		"define": true,
	},
	"rules": {
		"semi": [
			"error",
			"always"
		],
		"indent": [
			2,
			"tab"
		],
		"no-tabs": 0,
		"space-before-function-paren": 0,
		"comma-dangle": [
			"error",
			"always-multiline"
		]
	},
	"env": {
		"node": true,
		"browser": true,
		"jest": true
	}
}