{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"globals": {
		"browser": false
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": [
					"src"
				]
			}
		}
	},
	"extends": [
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"indent": [
			2,
			"tab"
		],
		"no-tabs": 0,
		"no-restricted-syntax": [
			"error",
			"ForInStatement",
			"LabeledStatement",
			"WithStatement"
		],
		"no-multiple-empty-lines": "warn",
		"import/no-named-as-default": 0
		// "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
	}
}
