{
	"env": {
		"es6": true,
		"node": true,
		"jest": true
	},
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"extends": [
		"airbnb-typescript/base",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "./tsconfig.eslint.json"
	},
	"rules": {
		"@typescript-eslint/no-explicit-any": 2,
		"no-restricted-syntax": [
			"error",
			"ForInStatement",
			"LabeledStatement",
			"WithStatement"
		],
		"no-continue": 0,
		"@typescript-eslint/require-await": 0,
		"import/no-named-as-default": 0,
		// something about replace-ts-export-assignment
		"import/extensions": 0,
		"import/no-extraneous-dependencies": 0
	}
}